@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.wrapper {
    width: 704px;
    height: 438px;
    margin: 0 auto;
    background: #131623;
    display: flex;
    gap: 28px;
}

/* aside styles */ 

aside.tech-skill {
    width: 220px;
    margin: 0 0 59px 48px;
}

.title {
    font: 700 48px/43px 'Inter';
    color: #FFFFFF;
    margin-bottom: 81px;
}

/*  button styles */


.tech-logos {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    align-content: flex-start; 
}

.switch-color {
    width: 206px;
    height: 40px;
    border: none;
    background: #252A41;
    border-radius: 100px;
    margin-bottom: 7px;
    color: #FFFFFF;
    font: 600 14px/20px 'Inter';
}

.switch-icon {
    color:#FFFFFF;
    margin-right: 10px;
    font-size: 17px;
}

/* Main styles */

figure {
    margin:0;
}

.logo-background {
    width: 56px;
    height: 56px;
    background: #1E2235;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* logos styles */


.jamstack-logo {
    width: 31px;
    height: 31px;
    transition: transform 2s;
}

.logo-background:hover  .jamstack-logo {
    transform: rotate(180deg);
}

/* node.js logo styles */

.node-js-icon {
    width: 28px;
    height: 31px;
    transition: transform 3s;
}

.logo-background:hover .node-js-icon {
    transform: rotate(360deg);
}

/* sass logo styles */

.sass-logo {
    width: 31px;
    height: 23px;
    transition: transform 1s;
}

.logo-background:hover .sass-logo {
    transform: skewX(30deg);
}

/* gitLab logo styles */

.git-lab-logo {
    width: 24px;
    height: 21px;
    transition: width 2s, height 2s, transform 2s;
}

.logo-background:hover .git-lab-logo {
    width: 35px;
    height: 32px;
    transform: rotate(360deg);
}

/* visual logo styles */

.visual-studio-logo {
    width: 31px;
    height: 30px;
    transition: transform 2s;
}

.logo-background:hover .visual-studio-logo {
    transform: rotateY(180deg);
}

/*react logo styles */

.react-logo {
    width: 31px;
    height: 31px;
    transition: transform 3s;
}

.logo-background:hover .react-logo {
    transform: rotate(360deg);
}

/* php logo styles */

.php-logo {
    width: 31px;
    height: 15px;
    transition: transform 2s;
}

.logo-background:hover .php-logo {
    transform: rotate(180deg);
}

/* python logo styles */

.python-logo {
    position: relative;
}

.blue-python, .yellow-python {
    width: 23px;
    height: 23px;
    position: absolute;
}

@keyframes move {
    0% {left:13px; top:13px; transform: rotateY(0deg);}
    50% {left: 5px; top: 10px; transform: rotateY(360deg);}
    100%{left:13px; top:13px;}
}

.blue-python {
    left: 13px;
    top: 13px;
    animation-name: move;
    animation-duration: 2s; 
    animation-iteration-count: 1;
    animation-play-state: paused;
}

@keyframes move2 {
    0% {right:13px; bottom:13px; transform: rotateY(0deg);}
    50% {right: 5px; bottom: 10px; transform: rotateY(-360deg);}
    100%{right:13px; bottom:13px;}
}

.yellow-python {
    right: 13px;
    bottom: 13px;
    animation-name: move2;
    animation-duration: 2s; 
    animation-iteration-count: 1;
    animation-play-state: paused;
}

.python-logo:hover .blue-python {
    animation-play-state: running;
}

.python-logo:hover .yellow-python {
    animation-play-state: running;
}

/* mangoMD logo styles */ 

@keyframes rotate {
    0%{transform: rotateZ(0deg);}
    25%{transform: rotatey(90deg);}
    50%{transform: rotatey(180deg);}
    75%{transform: rotateY(270deg);}
    100%{transform: rotateY(360deg);}
} 

.mango-md-logo {
    width: 13px;
    height: 31px;
    animation: rotate 1s infinite;
    animation-play-state: paused;
}

.logo-background:hover .mango-md-logo {
    animation-play-state: running;
}

/* xd logo styles */

.xd-logo {
    position: relative;
}

.xd-logo-emblem {
    width: 19px;
    height: 14px;
    position: absolute;
    z-index: 1;
    transition: transform 3s;
}

.xd-logo:hover .xd-logo-emblem {
    transform: rotateZ(-360deg);
}

.xd-logo-background, .xd-logo-border {
    width: 31px;
    height: 30px;
    position: absolute;
}

.xd-logo-background, .xd-logo-border{
    transition: transform 3s;
}


.xd-logo:hover .xd-logo-border, .xd-logo:hover .xd-logo-background{
    transform: rotateZ(360deg);
}
