@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Mulish:wght@300;400;700&family=Playfair+Display:wght@700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'Playfair Display', serif;
}

.wrapper{
   max-width: 1600px;
   margin: 0 auto;
}

h3 {
    margin: 0px;
}

/* Navigation styles */

.nav { 
    display: flex;
    margin-top: 34px;
    margin-left: 191px;
    margin-bottom: 74px;
    font-family: Inter;
}

.logo {
    width: 41px;
    height: 41px;
    margin-right: 515px;
}


.nav-item {
    display: inline-block;
    margin-right: 34px;
}

.nav-item a {
    text-decoration: none;
    color:#B8BECD;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.nav-item a.active {
    font-weight: 500;
}

.nav-item a.active, .nav-item a:hover {
    color: #202336;
}

/* Navigation button styles */

.btn-login, .btn-register {
    width: 132px;
    height: 44px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 15px;
}

.btn-login {
    background-color: #ffffff;
    border: 1px solid #FB8F1D;
    margin-right: 18px;
    color: #FB8F1D;
}


.btn-login:hover {
    border: none;
    background-color: #FB8F1D;
    color: #FFFFFF;
}

.btn-register:hover {
    background-color: #ffffff;
    border: 1px solid #FB8F1D;
    color: #FB8F1D;
}

.btn-orange {
    border: none;
    background-color: #FB8F1D;
    color: #FFFFFF;
    border-radius: 8px;
    font-family: 'Inter';
}

/* Header styles */

header {
    margin-left: 189px;
    margin-bottom: 270px;
    display: flex;
    gap: 147px;
}


.header-content h1 {
    max-width: 356px;
    font: bold 64px/80px 'Playfair Display', serif;
    color: #202336;
}

/* Form styles */

fieldset, legend {
    border: none;
    padding-left: 0px;
    margin-left: 0px;
}
.criteria {
    margin-bottom: 47px;
}

.form-caption {
    font: 600 22px/27px 'Inter', sans-serif;
    color: #202336;
}

.form-item {
    width: 220px;
    height: 52px;
    border: 0.8px solid #AFB0B9;
    border-radius: 6px;
    margin-top: 35px;
    font: 400 15px/32px 'Inter';
    color: #4A4C53;
}

select.form-item:nth-of-type(odd) {
    margin-right: 30px;
}

/* Form button styles */

.btn-explore {
    width: 180px;
    height: 52px;
    font-weight: 700;
    font-size: 17px;
}

.btn-explore:hover {
    background: #FFFFFF;
    color: #FB8F1D;
    border: 1px solid #FB8F1D;
}

.form-img {
    width: 687px;
    height: 654px; 
}


/* Explore article styles */

.article-explore {
    margin-left: 141px;
    display: flex;
    gap: 102px;
    align-items: center;
    margin-bottom: 262px;
}

.explore-image {
    width: 659px;
    height: 534px;
}

.section-title {
    font: 700 36px/50px 'Playfair Display';
    display: inline-block;
    width: 481px;
}

.section-text {
    font: 300 17px/30px 'Mulish';
    color: #7D7987;
    width: 450px;
}

.btn-learn-more  {
    width: 164px;
    height: 48px;
    font-weight: 600;
    font-size: 16px;
    margin-top: 33px;
}

.btn-learn-more:hover {
    border: 1px solid #FB8F1D;
    background:#ffffff;
    color:#FB8F1D;
}
                                                       
/* destination section styles */

.destinations {
    margin-left: 240px;
    margin-bottom: 173px;
}

.view-all {
    text-decoration: none;
    color:#FB8F1D;
    font: 600 17px/60px 'Inter';
    margin-left: 560px;
}

.arrow-right {
    margin-left: 11px;
}

.view-all:hover {
    text-decoration: underline;
}

/* figures styles */

figure {
    margin: 0;
}

.destination-examples {
    display: flex;
    gap: 25px;
}

.destination {
    position: relative;
}

.destination-img {
    width: 261px;
    height: 332px;
    border-radius: 8px;
}

.destination-name {
    width: 120px;
    height: 56px;
    background: #FFFFFF;
    border-radius: 0px 6px 0px 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    font: 600 17px/25px 'Inter';
}

.destination-name-country {
    font-weight: 500;
    color: #80918E;
}


/* Article guides styles */ 

.guides {
    margin-left: 240px;
    display: flex;
    align-items: center;
    gap: 80px;
    margin-bottom: 248px;
}

section.article-content .section-title  {
    width: 400px;
}

.btn-download {
    width: 164px;
    height: 48px;
    font: 600 16px 'Inter';
    margin-top: 40px;
}

.btn-download:hover {
    border: 1px solid #FB8F1D;
    background:#ffffff;
    color:#FB8F1D;
}

.guide-img {
    width: 599px;
    height: 542px; 
}

/* Section testimonials styles */

.testimonial {
    margin-left: 240px;
    margin-bottom: 213px;
}

.section-title {
    margin-bottom: 60px;
}

.section-content {
    display: flex;
    align-items: center;
    gap: 170px;
}

.stars {
   margin-bottom: 30px; 
}

.comment {
    font: 400 24px/36px 'Mulish';
    width: 450px;
    margin-bottom: 40px;
}

.commentator {
    font: 700 22px 'Inter';
    margin-bottom: 0;
}

.commentator-work {
    font: 400 18px  'Inter';
    color: rgba(0, 0, 0, 0.85);
    margin-top: 5px;
}

.section-content-photo {
    position: relative;
}

.photo-man {
    width: 384px;
    height: 491px;
    border-radius: 14px;
}

.switch-arrows {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 132px;
    height: 60px;
    background-color: #FFFFFF;
    border-radius: 16px 0px 0px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 22px;
}

.switch-arrow-left, .switch-arrow-right {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch-arrow-left, .switch-arrow-right {
    border: 2px solid #D7D7D7;
}

.switch-arrow-left:hover, .switch-arrow-right:hover {
    border: 2px solid #000000;
}


/* Section trending stories styles */ 






