@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Mulish:wght@300;400;700&family=Playfair+Display:wght@700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'Playfair Display', serif;
}

.wrapper{
   max-width: 1600px;
   margin: 0 auto;
}


/* Navigation styles */

.nav { 
    display: flex;
    margin-top: 34px;
    margin-left: 191px;
    margin-bottom: 74px;
    font-family: Inter;
}

.logo {
    width: 41px;
    height: 41px;
    margin-right: 515px;
}


.nav-item {
    display: inline-block;
    margin-right: 34px;
}

.nav-item a {
    text-decoration: none;
    color:#B8BECD;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.nav-item a.active {
    font-weight: 500;
}

.nav-item a.active, .nav-item a:hover {
    color: #202336;
}

/* Navigation button styles */

.btn-login, .btn-register {
    width: 132px;
    height: 44px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 15px;
}

.btn-login {
    background-color: #ffffff;
    border: 1px solid #FB8F1D;
    margin-right: 18px;
    color: #FB8F1D;
}


.btn-register, .btn-login:hover {
    border: none;
    background-color: #FB8F1D;
    color: #FFFFFF;
}

.btn-register:hover {
    background-color: #ffffff;
    border: 1px solid #FB8F1D;
    color: #FB8F1D;
}

/* Header styles */

header {
    margin-left: 189px;
    display: flex;
    gap: 147px;
}


.header-content h1 {
    max-width: 356px;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: #202336;
}

/* Form styles */

fieldset, legend {
    border: none;
    padding-left: 0px;
    margin-left: 0px;
}
.criteria {
    margin-bottom: 47px;
}

.form-caption {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #202336;
}

.form-item {
    width: 220px;
    height: 52px;
    border: 0.8px solid #AFB0B9;
    border-radius: 6px;
    margin-top: 35px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    color: #4A4C53;
}

select.form-item:nth-of-type(odd) {
    margin-right: 30px;
}

/* Form button styles */

.btn-explore {
    width: 180px;
    height: 52px;
    background: #FB8F1D;
    border-radius: 8px;
    color: #FFFFFF;
    border: none;
}

.btn-explore:hover {
    background: #FFFFFF;
    color: #FB8F1D;
    border: 1px solid #FB8F1D;
}

/* header image styles*/

.form-img {
    width: 687px;
    height: 654px; 
}

/* destinition section styles */

.destinations {
    margin-left: 240px;
}

.section-title {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    display: inline-block;
    margin-right: 680px;
}

.view-all {
    text-decoration: none;
    color:#FB8F1D;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
}

.arrow-right {
    margin-left: 11px;
}

.view-all:hover {
    text-decoration: underline;
}

/* figures styles */

figure {
    margin: 0;
}

.destination-examples {
    display: flex;
    gap: 25px;
}

.destination {
    position: relative;
}

.destination-img {
    width: 261px;
    height: 332px;
    border-radius: 8px;
}

.destination-name {
    width: 120px;
    height: 56px;
    background: #FFFFFF;
    border-radius: 0px 6px 0px 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
}

.destination-name-country {
    font-weight: 500;
    color: #80918E;
}






