@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Mulish:wght@300;400;700&family=Playfair+Display:wght@700&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    /*font-family: 'Inter', sans-serif;*/
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: #7D7987;
    /*font-family: 'Playfair Display', serif;*/
}

a {
    text-decoration: none;
}

/* Header styles */

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 35px 0;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 72px;
}

/* Navigation styles */

.nav {
    margin-left: auto;
}

.nav-list {
    display: flex;
}

.list-item {
    margin-right: 34px;
}

.list-item__link {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color:#B8BECD;
    transition: all .5s;
}

.list-item__link:hover {
    font-weight: 500;
    color: #202336;
}

/* Navigation button styles */

.button {
    width: 132px;
    height: 44px;
    border-radius: 8px;
    font: 500 0.9rem 'Inter';
    padding: 12px 0;
    text-align: center;
    cursor: pointer;
}

.button__login {
    margin-right: 18px;
    border: 1px solid #FB8F1D;
    color: #FB8F1D;
    transition: all .5s;
}


.button__login:hover {
    border: none;
    background-color: #FB8F1D;
    color: #FFFFFF;
}

.button__register {
    border: none;
    background-color: #FB8F1D;
    color: #FFFFFF;
    transition: all .5s;
    
}

.button__register:hover {
    background: none;
    border: 1px solid #FB8F1D;
    color: #FB8F1D;
}

/* Header content styles */

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__content-inner {
    max-width: 50%;
}


.header__content-title {
    max-width: 356px;
    font: bold 64px/80px 'Playfair Display', serif;
    color: #202336;
    margin-bottom: 74px;
}

/* Form styles */

fieldset, legend {
    border: none;
}

.form__caption {
    font: 600 1.3rem/1.6rem 'Inter', sans-serif;
    color: #202336;
    margin-bottom: 35px;
}

.form__item {
    width: 220px;
    height: 52px;
    border: 0.8px solid #AFB0B9;
    border-radius: 6px;
    font: 400 0.9rem/2rem 'Inter';
    color: #4A4C53;
    margin-bottom: 35px;
}

.form__item:nth-of-type(odd) {
    margin-right: 30px;
}

/* Form button styles */

.btn__explore {
    width: 180px;
    height: 52px;
    font: 700 1rem 'Mulish';
    border: none;
    background-color: #FB8F1D;
    color: #FFFFFF;
    transition: all .5s;
    margin-top: 12px;
}

.btn__explore:hover {
    background: #FFFFFF;
    color: #FB8F1D;
    border: 1px solid #FB8F1D;
}

.form__img {
    width: 687px;
    height: 654px;  
}


/* Explore article styles */

.explore__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.explore__image {
    width: 659px;
    height: 534px;
}

.content {
    max-width: 450px;
}

.content__title {
    font: 700 2rem/3.1rem 'Playfair Display';
    color: #000000;
    margin-bottom: 20px;
}

.content__text {
    margin-bottom: 33px;
}

.btn__learn-more  {
    background: #FB8F1D;
    color: #FFFFFF;
    width: 164px;
    padding: 13px 38px;
}

.btn__learn-more:hover {
    border: 1px solid #FB8F1D;
    background:#ffffff;
    color:#FB8F1D;
}
                                                       
/* destination section styles */

.destinations {
    margin-bottom: 237px;
}

.content-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
}

.view-all {
    color:#FB8F1D;
    font: 600 1.0625rem/3.75rem 'Inter';
    display: flex;
    align-items: center;
    gap: 11px;
}

/* figures styles */

.content-bottom {
    display: flex;
    justify-content: space-between;
}

.destination__item {
    position: relative;
    transition: all .5s;
    cursor: pointer;
}

.destination__item:hover {
    transform: scale(1.10);
}

.destination__img {
    width: 261px;
    height: 337px;
    border-radius: 8px;
}

.destination__name {
    width: 120px;
    height: 56px;
    background: #FFFFFF;
    border-radius: 0px 6px 0px 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    font: 600 1.0625rem/25px 'Inter';
    color:#042521;
}

.destination__name-country {
    font-weight: 500;
    color: #80918E;
}


/*Guides section styles */ 

.guides__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.guides__content-title {
    max-width: 350px;
}

.button__download {
    width: 164px;
    height: 48px;
    font: 600 1rem 'Inter';
    padding: 10px 43px;
    background: #FB8F1D;
    color:#ffffff;
}

.button__download:hover {
    border: 1px solid #FB8F1D;
    background:#ffffff;
    color:#FB8F1D;
}

.guide__img {
    width: 599px;
    height: 542px; 
}

/* Section testimonials styles */

.testimonial {
    margin-bottom: 250px;
}

.section-title {
    margin-bottom: 60px;
}

.slider__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider__item-stars {
   margin-bottom: 30px; 
}

.slider__item-text {
    max-width: 450px;
    color:#000000;
    font: 400 1.5rem/2.25rem 'Mulish';
    margin-bottom: 40px;
}

.slider__item-name {
    font: 700 1.375rem 'Inter';
    margin-bottom: 5px;
    color: #000000;
}

.slider__item-work {
    font: 400 1.125rem 'Inter';
}

.slider__item-img {
    width: 384px;
    height: 491px;
    border-radius: 14px;
}

.switch-arrows {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 132px;
    height: 60px;
    background-color: #FFFFFF;
    border-radius: 16px 0px 0px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 22px;
}

.switch-arrow-left, .switch-arrow-right {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch-arrow-left, .switch-arrow-right {
    border: 2px solid #D7D7D7;
}

.switch-arrow-left:hover, .switch-arrow-right:hover {
    border: 2px solid #000000;
}

/* Section trending stories styles */ 

.trending-stories {
    margin-bottom: 271px;
}

.story {
    max-width: 261px;
    transition: all .5s;
    cursor: pointer;
}

.story:hover {
    transform: scale(1.10);
}

.story__img {
    width: 261px;
    height: 231px;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
    object-position: top center;
}

.story__title {
    font: 700 1.1875rem/1.875rem 'Inter';
    margin: 13px 0;
    color: #000;
}

.story__title-healing {
    max-width: 219px;
}

.story__content {
    font: 400 0.9375rem/1.625rem 'Inter';
    margin-bottom: 23px;
}

.story__link {
    font: 600 0.9375rem/1.75rem 'Inter';
    color: #FB8F1D;
}

.story__link:hover {
    text-decoration: 2px underline;
}

/* footer styles */

.footer {
    background: #F9F9FB;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    
}

/* section inform styles */ 

.footer__content-info {
    max-width: 336px;
    color: #848484;
}




/* footer menu styles */ 

.footer__content {
    border-bottom: 0.6px solid #C4C4C4;
    padding-bottom: 77px;
}

.footer__menu-link {
    color: #848484;
    transition: all .5s;
}

.title-item a {
    font: 700 1.1875rem/3.75rem 'Mulish';
    color: #000000; 
}

.footer__menu-link:hover {
    text-decoration: 2px underline;
}

/* section socials styles */ 

.social__inner {
    display: flex;
    gap: 35px;
    align-items: center;
    justify-content: center;
}

