*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: rgba(30, 30, 30, 0.5);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

dd {
    margin: 0;
}

.container {
    max-width: 1268px;
    margin: 0 auto;
    position: relative;
}

/* header styles */

.header__top {
    display: flex;
    align-items: center;
    height: 123px;
    justify-content: space-between;
}

.logo__link {
    margin-right: 98px;
}

.menu__list {
    display: flex;
}

.action__list {
    margin-left: auto;
    display: flex;
}

.menu__list-item {
    margin-right: 48px;
}

.action__list-item {
    margin-left: 48px;
}

.menu__link {
    color: rgba(30, 30, 30, 0.5);
    transition: all .2s;
}


.menu__link:hover {
    color: #1E1E1E;
}

/* section top styles */ 

.top__inner {
    background: #C1DCDC;
    border-radius: 24px;
    display: flex;
}

.top__content {
    padding: 0px 25px 0 48px;
}

.top__title {
    font-weight: 800;
    font-size: 64px;
    line-height: 64px;
    color: #000000;
    margin-bottom: 24px;
    max-width: 472px;
}

.search__list {
    display: flex;
    gap: 48px;
    color: #1E1E1E;
    margin-bottom: 48px;
}

.search__list-item {
    border-right: 1px solid #1E1E1E;
    padding-right: 48px;
}

.search__list-amount {
    font-size: 32px;
    line-height: 48px;
}

/*selling plants section styles */

h3 {
    margin: 0;
}

.selling-plants__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 96px;
    align-content: flex-start;
}

.title {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #1E1E1E;
}

.selling-plants__title {
    max-width: 256px;
}

.selling-plants__text {
    max-width: 196px;
    margin-bottom: 34px;
}

.aplication-btn {
    color: #1E1E1E;
    padding: 12px 58px 12px 24px;
    cursor: pointer;
    position: relative;
}

.btn__see-more {
    background: #C1DCDC;
    border-radius: 8px;
    width: 168px;
}

.btn-text::after {
    content: "";
    position: absolute;
    right: 24px;
    top: 15px;
    width: 24px;
    height: 21px;
    background-image: url(../img/ArrowRight.svg);
}

.selling-plants__list {
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

.selling-plants__item {
    cursor: pointer;
    width: 299px;
    height: 436px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .5s;
}

.selling-plants__item p {
    margin: 0;
}

.list__item-image {
    width: 299px;
    height: 363px;
}

.list__item-title {
    color: #1E1E1E;
}

.selling-plants__item:hover {
    transform: scale(1.10);
} 

/* about section styles */

.about__content {
    text-align: center;
    padding-top: 112px;
}

.about__text {
    margin-bottom: 48px;
}

.about__content-items {
    display: flex;
    justify-content: space-between;
}

.item__title {
    font-weight: 700;
    color: #000000;
}

.about__item {
    text-align: center;
}

.about__item-image {
    margin-bottom: 24px;
}

.about__item-text {
    max-width: 400px;
    margin-bottom: 165px;
}

/* categories section styles */

.categories__content {
    text-align: center;
}

.categories__text {
    margin-bottom: 141px;
}

.categories__plant {
    margin-top: 96px;
}

.categories__content-items {
    display: flex;
    justify-content: space-between;
}

.categories__item-text {
    max-width: 352px;
}

.categories__item {
    text-align: center;
}

.content-btn {
    text-align: center;
    margin-bottom: 101px;
}

/* review section styles */

.reviews {
    position: relative;
}

.reviews__title {
    margin: 96px 0 48px;
    max-width: 457px;
}

.reviews__title-logo {
    text-transform: uppercase;
}

.review-list {
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
}

.review__box {
    max-width: 800px;
    padding: 48px 48px 0px 48px;
    background: #C1DCDC;
    border-radius: 12px;
    margin: 0 48px 230px 0;
}


