*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: rgba(30, 30, 30, 0.5);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

dd {
    margin: 0;
}

.container {
    max-width: 1268px;
    padding: 0 10px;
    margin: 0 auto;
}

/* header styles */

.header__top {
    display: flex;
    align-items: center;
    height: 123px;
    justify-content: space-between;
}

.logo__link {
    margin-right: 98px;
}

.menu__list {
    display: flex;
}

.action__list {
    margin-left: auto;
    display: flex;
}

.menu__list-item,  .action__list-item {
    margin-right: 48px;
}

.menu__link {
    color: rgba(30, 30, 30, 0.5);
    transition: all .2s;
}


.menu__link:hover {
    color: #1E1E1E;
}

/* section top styles */ 

.top__inner {
    background: #C1DCDC;
    border-radius: 24px;
    display: flex;
}

.top__content {
    padding: 0px 25px 0 48px;
}

.top__title {
    font-weight: 800;
    font-size: 64px;
    line-height: 64px;
    color: #000000;
    margin-bottom: 24px;
    max-width: 472px;
}

.search__list {
    display: flex;
    gap: 48px;
    color: #1E1E1E;
    margin-bottom: 48px;
}

.search__list-item {
    border-right: 1px solid #1E1E1E;
    padding-right: 48px;
}

.search__list-amount {
    font-size: 32px;
    line-height: 48px;
}

.top__img {
    max-width: 722px;
    height: 514px;
}

/*selling plants section styles */

h3 {
    margin: 0;
}

.selling-plants__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 96px;
    align-content: flex-start;
}

.title {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #1E1E1E;
}

.selling-plants__title {
    max-width: 256px;
}

.selling-plants__text {
    max-width: 196px;
    margin-bottom: 34px;
}

.aplication-btn {
    color: #1E1E1E;
    padding: 12px 58px 12px 24px;
    cursor: pointer;
}

.btn__see-more {
    background: #C1DCDC;
    border-radius: 8px;
    width: 168px;
    position: relative;
}

.btn__text::after {
    content: "";
    position: absolute;
    right: 24px;
    top: 15px;
    width: 24px;
    height: 21px;
    background-image: url(../img/ArrowRight.svg);
}

.selling-plants__list {
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

.list__item-image {
    width: 299px;
    height: 363px;
}

.list__item-title {
    color: #1E1E1E;
}

.list__item-price {
    margin-top: 7px;
}

/* about section styles */

.about__content {
    text-align: center;
    padding-top: 112px;
}

.about__text {
    margin-bottom: 48px;
}

.about__content-items {
    display: flex;
    justify-content: space-between;
}

.about__item {
    text-align: center;
}

.about__item-image {
    max-width: 96px;
    max-height: 96px;
    margin-bottom: 24px;
}

.item__title {
    font-weight: 700;
    color: #000000;
}

.about__item-text {
    max-width: 400px;
}


